body{
font-family: Roboto-Light;
font-size: 20px;
color: rgba(0,0,0,0.54);
}

h1{
font-family: Lato-BoldItalic;
font-size: 40px;
color: white;
padding-top: 120px;
}

h2{
font-family: Lato-BoldItalic;
font-size: 40px;
color: #363838;
text-align: center;
padding: 15px;
}

h3{
font-family: Lato-BoldItalic;
font-size: 25px;
color: white;
text-align: center;
padding: 15px;
}

h4{
font-family: Lato;
font-size: 22px;
color: white;
padding: 5px;
text-align: left;
}

a{
font-family: Lato-Light;
text-decoration: none;
font-size: 20px;
padding: 10px;
}

.guide a {
  font-family: Lato-light;
  font-size: 20px;
  color: white;
  float: right;
  margin: 3px;
}

.action a {
  font-family: Lato-medium;
  font-size: 25px;
  color: white;
  background-color: #A2C3CA;
  border: 2px solid white;
  border-radius: 30px;
  margin: 10px;
  float: right;
  float: overflow hidden;
  opacity: 0.8;
  padding: 10px 25px;
}

.head{
  padding: 40px;
  background-image:
    url(https://images.pexels.com/photos/1050306/pexels-photo-1050306.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-position:center bottom;
  background-blend-mode: multiply;
  background-color: #666666;
  height: 300px;
}

.feature{
  padding: 40px;
  line-height: 30px;
}

.workFlow ol{
  list-style: none;
  display: inline-block;
  width: 25%;
  height: 100px;
  text-align: center;
}

ol img{
  height:100px;
  overflow: hidden;
}

.dataType a {
  font-family: Lato;
  color: grey;
  font-size: 25px;
  margin: 10px;
  padding: 50px 90px;
}

.category{
  background: #A2C3CA;
  padding: 20px;
}

.footer{
  background: #E4E4E4;
  padding: 20px;
  color: rgba(0,0,0,0.54);
  line-height: 30px;
}

